# MariaDB {{ mariadb_version }} RedHat repository list
[mariadb]
name = MariaDB
baseurl = https://mirrors.xtom.nl/mariadb/yum/{{ mariadb_version }}/rhel$releasever-$basearch
gpgkey = https://mirrors.xtom.nl/mariadb/yum/RPM-GPG-KEY-MariaDB
gpgcheck = 1